//Pass this mixin 1 variable for min-width, 2 for min and max.
//The idea is to use single breakpoint if you want it to cascade up, so that IE7,8 gets them.
@mixin breakpoint($bp) {
  @if (length($bp) == 2){
    $upperBreakPoint: nth($bp, 2) - 1;
    @media screen and (min-width: nth($bp, 1)) and (max-width: $upperBreakPoint){
      @content;
    }
  }
  @else{
    .lt-ie9 & { @content ;}
    @media screen and (min-width: $bp) { @content; }
  }
}

%cf{
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}