$mobile-breakpoint: 750px;
$main-color: #18a1aa;

h1{
    text-align: center;
}

.month-name .name{
    min-width: 200px;
    display: inline-block;
}

.dayContent{
    width: 95%;
.location{
    width: 50%;
}
 .taken-seats{
    display: none;
    @include breakpoint(400px){
        display: inline;
    }
}
}
.info{
    clear: both;
}
.weekday{
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid;
    // -webkit-animation: 1s fadein;
    // animation: 1s fadein;
    @include breakpoint($mobile-breakpoint){
        float: left;
        width: 18%;
        height: 150px;
        border: 1px solid black;
        padding-right: 3rem;
    }
}

.dropdown-menu{
    @media screen and (max-width:$mobile-breakpoint){
        left: auto;
        right: 0;
    }
}

.Sunday{
    clear: both;
}

.Saturday, .Sunday{
    width: 100%;
    background: rgba(0,0,0,0.2);
    @include breakpoint($mobile-breakpoint){
        width: 5%;
    }
}

.today{
    background: #e5f1f3;
}

.calendar-month{
    clear: both;
    float: none;
    padding:0 1em;
    list-style: none;
}
.day-of-week{
    color: white;
    display: none;
    @include breakpoint($mobile-breakpoint){
    display: inline-block;
    background-color: $main-color;
    float: left;
    border: none;
    text-align: center;
    padding: 0;
        &.weekday{
            height: auto;
        }
    }
}
.day-of-month{
    font-weight: bold;
    @include breakpoint($mobile-breakpoint){
        float: right;
    }
}
.weekday .month-name{
    @include breakpoint($mobile-breakpoint){
        display: none;
    }
}

[class*="count-0"]{
    display: none;
}

[class^="loc-"]{
    @extend %cf;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em;
    background: #fff;
    margin: 0;
    @include breakpoint(500px){
    position:absolute;
    top: 25%;
    left: 25%;
    width: auto;
    height: auto;
    border: 1px solid black;
    }
}

.modal-backdrop{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    // background: rgba(0,0,0,.25);
    top: 0;
    left: 0;
}

.btn.loc-575{
    background: #f3e9ce;
}
.btn.loc-Remote{
    background: #afe4fd;
}
.btn.loc-1300{
    background: rgba(200, 50, 50, .25);
}

.capacity-graph{
    width:50%;
    border:1px solid black;
    display: inline-block;
    height: 20px;
    position: relative;
    &.relative{
        border: none;
        height: 18px;
    }
}
.capacity-meter{
    transition: .5s;
    display: inline-block;
    height:19px;
    background-color:green;
    color: white;
}

.filter{
    min-width: 200px;
    width: 25%;
}
.location{
}
%seat{
    text-shadow:black 1px 1px 0px, black -1px -1px, black 1px -1px, black -1px 1px;
    font-size: 25px;
    font-size: 2.5rem;
    line-height: 10px;
    float: left;
}
.available-seats{
    float: left;
}
.available-seat{
    color: white;
    @extend %seat;
}
.taken-seat{
    color: black;
    @extend %seat;
}

.daily-location{
    padding: .25em 0;
    border-bottom: 1px solid black;
    .user{
        display: inline-block;
        width: 100px;
    }
}

input[type="text"]{
    line-height: 1em;
}

ul{
    // transition: all 1s;
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadeOut { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
