@import "compass/css3/shared";
@import "compass/utilities/general/clearfix";
@import "ui-spinner";
@import "mixins";
@import "month";

*{
	box-sizing: border-box;
}

.modal{
	z-index: 2;
	display: block;
	right: auto;
	bottom: auto;
	overflow: visible;
}
.modal-backdrop{
	z-index: 1;
}

.button{
	cursor: pointer;
	border: 1px solid #1e5799;
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	color: white;
	&:hover{
		background: linear-gradient(to top, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	}
}

.button-close{
	position: absolute;
	top: 0;
	right: 0;
}

@include ui-spinner(#fff, 60px, gray, white, .7, 4s);
.ui-spinner{
	margin: 1em auto;
	clear: both;
}



/* Starting christoff */

/* superfluous div */

#outer-wrapper {
	margin: 0 auto;
	width: 95%;
	/*background-color:#ffcc99;
	border:solid 1px;*/
}

/* INNTER WRAPPER */

#wrapper {
/*	background-color:#ffcccc; */
}


/* header */

.logo {
	float:left;
	width: 130px;
	height:120px;
	background-image: url('../img/telecommutelogo.svg');
	background-size:60px;
	@include breakpoint(500px){
	background-size: 100%;
	}
	position: relative;
	top:-10px;
	background-repeat:no-repeat;
	/*border-top: 10px solid rgb(24, 161, 170);
	border-bottom: 10px solid rgb(24, 161, 170);*/
}

#header h1 {
margin: 0 auto;
orientation: LTR;
text-align:left;
font-weight: 800;
font-size: 2rem;
@include breakpoint(500px){
font-size:5rem;
}
font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
.head1{color: #5b9eab;}
.head2{color: #333;}
letter-spacing: -.05em;
}

.header-link:hover{
	text-decoration: none !important;
}

#header{
	background-image: url("../img/WCMC-EMBLEM_web_red@2x.png");
	background-repeat: no-repeat;
	background-size: 40px;
	@include breakpoint(500px){
	background-size: 100px;
	}
	background-position: 100% 50%;
	border-top: 5px solid #00a8b9;
	border-bottom: 5px solid #00a8b9;

}


/* MATCHING HEADER AND CAL STRIP */

ul.calendar-month {
width:100%;
padding:0;
}

ul.calendar-month li {
padding:5px;
}


/* OVER RIDING THE DAY OF THE WEEK COLORING */
.Saturday, .Sunday {
background-color: rgba(255,255,255,0);
}


.day-of-week {
background-color: #18a1aa;
float: left;
border: none;
text-align: center;
}




/* BUTTON MAYBE */


.btn-default {
margin: 5px;
background-color:#cccccc;
color:#000000;
}


.change-location  {
position:absolute;
bottom: 0;
width: 100%;
left:0;
.btn{
	border-radius: 0;
	margin: 0;
	width: 100%;
	}
}

/* JUNK I CAN TAKE OUT */

/* SEAT TAKEN, FREE SHOWDOW CRAP */

.available-seat, .taken-seat {
	text-shadow: 1px;
	max-width:150px;
}

/*.day-of-month {
	top:0;
	right:0;
	margin:5px;
	color:#cccccc;
	font-size:2em;
	font-weight:300;
	}
	
.today	.day-of-month  {
	top:0;
	right:0;
	margin:5px;
	color:#ff00cc;
	font-size:2.5em;
	font-weight:300;
	} */

/* New fake admin buttons */

ul#fake-burronts li {
list-style:none;
display: inline-block;
float:right;
padding:5px;

}

#fake-burronts {
height:35px;
 }

.settings-container {
text-align:right;
float:right;

}

.filter {
width:100%;
margin:5px 0;
}

.seats-remaining {
display: inline-block;
float:right;
text-aligh:right;
padding-right:20px;
color: rgba(255, 150, 100, .5);
}

.week tr:nth-of-type(even){
	background-color: rgba(150, 150, 150, .5);
}