h1 {
  text-align: center; }

.weekday {
  width: 14%;
  height: 100px;
  float: left;
  border: 1px solid black;
  position: relative; }

.Sunday {
  clear: both; }

.calendar-month {
  clear: both;
  float: none;
  list-style: none; }

.day-of-month {
  position: absolute;
  top: 0;
  right: 1em;
  font-weight: bold; }
