@-webkit-keyframes ui-spinner-rotate-right {
  /* line 58, ../scss/_ui-spinner.scss */
  0% {
    -webkit-transform: rotate(0deg); }

  /* line 59, ../scss/_ui-spinner.scss */
  25% {
    -webkit-transform: rotate(180deg); }

  /* line 60, ../scss/_ui-spinner.scss */
  50% {
    -webkit-transform: rotate(180deg); }

  /* line 61, ../scss/_ui-spinner.scss */
  75% {
    -webkit-transform: rotate(360deg); }

  /* line 62, ../scss/_ui-spinner.scss */
  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes ui-spinner-rotate-left {
  /* line 66, ../scss/_ui-spinner.scss */
  0% {
    -webkit-transform: rotate(0deg); }

  /* line 67, ../scss/_ui-spinner.scss */
  25% {
    -webkit-transform: rotate(0deg); }

  /* line 68, ../scss/_ui-spinner.scss */
  50% {
    -webkit-transform: rotate(180deg); }

  /* line 69, ../scss/_ui-spinner.scss */
  75% {
    -webkit-transform: rotate(180deg); }

  /* line 70, ../scss/_ui-spinner.scss */
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes ui-spinner-rotate-right {
  /* line 74, ../scss/_ui-spinner.scss */
  0% {
    -moz-transform: rotate(0deg); }

  /* line 75, ../scss/_ui-spinner.scss */
  25% {
    -moz-transform: rotate(180deg); }

  /* line 76, ../scss/_ui-spinner.scss */
  50% {
    -moz-transform: rotate(180deg); }

  /* line 77, ../scss/_ui-spinner.scss */
  75% {
    -moz-transform: rotate(360deg); }

  /* line 78, ../scss/_ui-spinner.scss */
  100% {
    -moz-transform: rotate(360deg); } }

@-moz-keyframes ui-spinner-rotate-left {
  /* line 82, ../scss/_ui-spinner.scss */
  0% {
    -moz-transform: rotate(0deg); }

  /* line 83, ../scss/_ui-spinner.scss */
  25% {
    -moz-transform: rotate(0deg); }

  /* line 84, ../scss/_ui-spinner.scss */
  50% {
    -moz-transform: rotate(180deg); }

  /* line 85, ../scss/_ui-spinner.scss */
  75% {
    -moz-transform: rotate(180deg); }

  /* line 86, ../scss/_ui-spinner.scss */
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes ui-spinner-rotate-right {
  /* line 90, ../scss/_ui-spinner.scss */
  0% {
    transform: rotate(0deg); }

  /* line 91, ../scss/_ui-spinner.scss */
  25% {
    transform: rotate(180deg); }

  /* line 92, ../scss/_ui-spinner.scss */
  50% {
    transform: rotate(180deg); }

  /* line 93, ../scss/_ui-spinner.scss */
  75% {
    transform: rotate(360deg); }

  /* line 94, ../scss/_ui-spinner.scss */
  100% {
    transform: rotate(360deg); } }

@keyframes ui-spinner-rotate-left {
  /* line 98, ../scss/_ui-spinner.scss */
  0% {
    transform: rotate(0deg); }

  /* line 99, ../scss/_ui-spinner.scss */
  25% {
    transform: rotate(0deg); }

  /* line 100, ../scss/_ui-spinner.scss */
  50% {
    transform: rotate(180deg); }

  /* line 101, ../scss/_ui-spinner.scss */
  75% {
    transform: rotate(180deg); }

  /* line 102, ../scss/_ui-spinner.scss */
  100% {
    transform: rotate(360deg); } }

/* line 110, ../scss/_ui-spinner.scss */
.ui-spinner {
  position: relative;
  border-radius: 100%; }
  /* line 114, ../scss/_ui-spinner.scss */
  .ui-spinner .side {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute; }
    /* line 120, ../scss/_ui-spinner.scss */
    .ui-spinner .side .fill {
      border-radius: 999px;
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear; }
  /* line 130, ../scss/_ui-spinner.scss */
  .ui-spinner .side-left {
    left: 0; }
    /* line 133, ../scss/_ui-spinner.scss */
    .ui-spinner .side-left .fill {
      left: 100%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      -webkit-animation-name: ui-spinner-rotate-left;
      -moz-animation-name: ui-spinner-rotate-left;
      -ms-animation-name: ui-spinner-rotate-left;
      -o-animation-name: ui-spinner-rotate-left;
      animation-name: ui-spinner-rotate-left;
      -webkit-transform-origin: 0 50%;
      -moz-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
      -o-transform-origin: 0 50%;
      transform-origin: 0 50%; }
  /* line 142, ../scss/_ui-spinner.scss */
  .ui-spinner .side-right {
    left: 50%; }
    /* line 145, ../scss/_ui-spinner.scss */
    .ui-spinner .side-right .fill {
      left: -100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      -webkit-animation-name: ui-spinner-rotate-right;
      -moz-animation-name: ui-spinner-rotate-right;
      -ms-animation-name: ui-spinner-rotate-right;
      -o-animation-name: ui-spinner-rotate-right;
      animation-name: ui-spinner-rotate-right;
      -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
      -o-transform-origin: 100% 50%;
      transform-origin: 100% 50%; }

/* line 18, ../scss/_mixins.scss */
[class^="loc-"]:before, [class^="loc-"]:after {
  content: "";
  display: table; }
/* line 22, ../scss/_mixins.scss */
[class^="loc-"]:after {
  clear: both; }

/* line 4, ../scss/_month.scss */
h1 {
  text-align: center; }

/* line 8, ../scss/_month.scss */
.month-name .name {
  min-width: 200px;
  display: inline-block; }

/* line 13, ../scss/_month.scss */
.dayContent {
  width: 95%; }
  /* line 15, ../scss/_month.scss */
  .dayContent .location {
    width: 50%; }
  /* line 18, ../scss/_month.scss */
  .dayContent .taken-seats {
    display: none; }
    /* line 11, ../scss/_mixins.scss */
    .lt-ie9 .dayContent .taken-seats {
      display: inline; }
    @media screen and (min-width: 400px) {
      /* line 18, ../scss/_month.scss */
      .dayContent .taken-seats {
        display: inline; } }

/* line 25, ../scss/_month.scss */
.info {
  clear: both; }

/* line 28, ../scss/_month.scss */
.weekday {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid; }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 .weekday {
    float: left;
    width: 18%;
    height: 150px;
    border: 1px solid black;
    padding-right: 3rem; }
  @media screen and (min-width: 750px) {
    /* line 28, ../scss/_month.scss */
    .weekday {
      float: left;
      width: 18%;
      height: 150px;
      border: 1px solid black;
      padding-right: 3rem; } }

@media screen and (max-width: 750px) {
  /* line 43, ../scss/_month.scss */
  .dropdown-menu {
    left: auto;
    right: 0; } }

/* line 50, ../scss/_month.scss */
.Sunday {
  clear: both; }

/* line 54, ../scss/_month.scss */
.Saturday, .Sunday {
  width: 100%;
  background: rgba(0, 0, 0, 0.2); }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 .Saturday, .lt-ie9 .Sunday {
    width: 5%; }
  @media screen and (min-width: 750px) {
    /* line 54, ../scss/_month.scss */
    .Saturday, .Sunday {
      width: 5%; } }

/* line 62, ../scss/_month.scss */
.today {
  background: #e5f1f3; }

/* line 66, ../scss/_month.scss */
.calendar-month {
  clear: both;
  float: none;
  padding: 0 1em;
  list-style: none; }

/* line 72, ../scss/_month.scss */
.day-of-week {
  color: white;
  display: none; }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 .day-of-week {
    display: inline-block;
    background-color: #18a1aa;
    float: left;
    border: none;
    text-align: center;
    padding: 0; }
    /* line 82, ../scss/_month.scss */
    .lt-ie9 .day-of-week.weekday {
      height: auto; }
  @media screen and (min-width: 750px) {
    /* line 72, ../scss/_month.scss */
    .day-of-week {
      display: inline-block;
      background-color: #18a1aa;
      float: left;
      border: none;
      text-align: center;
      padding: 0; }
      /* line 82, ../scss/_month.scss */
      .day-of-week.weekday {
        height: auto; } }

/* line 87, ../scss/_month.scss */
.day-of-month {
  font-weight: bold; }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 .day-of-month {
    float: right; }
  @media screen and (min-width: 750px) {
    /* line 87, ../scss/_month.scss */
    .day-of-month {
      float: right; } }

/* line 11, ../scss/_mixins.scss */
.lt-ie9 .weekday .month-name {
  display: none; }
@media screen and (min-width: 750px) {
  /* line 93, ../scss/_month.scss */
  .weekday .month-name {
    display: none; } }

/* line 99, ../scss/_month.scss */
[class*="count-0"] {
  display: none; }

/* line 107, ../scss/_month.scss */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  background: #fff;
  margin: 0; }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 .modal {
    position: absolute;
    top: 25%;
    left: 25%;
    width: auto;
    height: auto;
    border: 1px solid black; }
  @media screen and (min-width: 500px) {
    /* line 107, ../scss/_month.scss */
    .modal {
      position: absolute;
      top: 25%;
      left: 25%;
      width: auto;
      height: auto;
      border: 1px solid black; } }

/* line 126, ../scss/_month.scss */
.modal-backdrop {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 136, ../scss/_month.scss */
.btn.loc-575 {
  background: #f3e9ce; }

/* line 139, ../scss/_month.scss */
.btn.loc-Remote {
  background: #afe4fd; }

/* line 142, ../scss/_month.scss */
.btn.loc-1300 {
  background: rgba(200, 50, 50, 0.25); }

/* line 146, ../scss/_month.scss */
.capacity-graph {
  width: 50%;
  border: 1px solid black;
  display: inline-block;
  height: 20px;
  position: relative; }
  /* line 152, ../scss/_month.scss */
  .capacity-graph.relative {
    border: none;
    height: 18px; }

/* line 157, ../scss/_month.scss */
.capacity-meter {
  transition: .5s;
  display: inline-block;
  height: 19px;
  background-color: green;
  color: white; }

/* line 165, ../scss/_month.scss */
.filter {
  min-width: 200px;
  width: 25%; }

/* line 171, ../scss/_month.scss */
.available-seat, .taken-seat {
  text-shadow: black 1px 1px 0px, black -1px -1px, black 1px -1px, black -1px 1px;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 10px;
  float: left; }

/* line 178, ../scss/_month.scss */
.available-seats {
  float: left; }

/* line 181, ../scss/_month.scss */
.available-seat {
  color: white; }

/* line 185, ../scss/_month.scss */
.taken-seat {
  color: black; }

/* line 190, ../scss/_month.scss */
.daily-location {
  padding: .25em 0;
  border-bottom: 1px solid black; }
  /* line 193, ../scss/_month.scss */
  .daily-location .user {
    display: inline-block;
    width: 100px; }

/* line 199, ../scss/_month.scss */
input[type="text"] {
  line-height: 1em; }

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  /* line 208, ../scss/_month.scss */
  from {
    opacity: 0; }

  /* line 211, ../scss/_month.scss */
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  /* Safari and Chrome */
  /* line 217, ../scss/_month.scss */
  from {
    opacity: 1; }

  /* line 220, ../scss/_month.scss */
  to {
    opacity: 0; } }

/* line 7, ../scss/style.scss */
* {
  box-sizing: border-box; }

/* line 11, ../scss/style.scss */
.modal {
  z-index: 2;
  display: block;
  right: auto;
  bottom: auto;
  overflow: visible; }

/* line 18, ../scss/style.scss */
.modal-backdrop {
  z-index: 1; }

/* line 22, ../scss/style.scss */
.button {
  cursor: pointer;
  border: 1px solid #1e5799;
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  color: white; }
  /* line 27, ../scss/style.scss */
  .button:hover {
    background: linear-gradient(to top, #1e5799 0%, #2989d8 50%, #7db9e8 100%); }

/* line 32, ../scss/style.scss */
.button-close {
  position: absolute;
  top: 0;
  right: 0; }

/* line 26, ../scss/_ui-spinner.scss */
.ui-spinner {
  width: 60px;
  height: 60px;
  background: gray; }
  /* line 31, ../scss/_ui-spinner.scss */
  .ui-spinner .side .fill {
    background: white;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -ms-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
    opacity: 0.7; }
  /* line 39, ../scss/_ui-spinner.scss */
  .ui-spinner:after {
    content: "";
    background: white;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top: 12px;
    left: 12px;
    display: block; }

/* line 39, ../scss/style.scss */
.ui-spinner {
  margin: 1em auto;
  clear: both; }

/* Starting christoff */
/* superfluous div */
/* line 50, ../scss/style.scss */
#outer-wrapper {
  margin: 0 auto;
  width: 95%;
  /*background-color:#ffcc99;
  border:solid 1px;*/ }

/* INNTER WRAPPER */
/* line 59, ../scss/style.scss */
#wrapper {
  /*	background-color:#ffcccc; */ }

/* header */
/* line 66, ../scss/style.scss */
.logo {
  float: left;
  width: 130px;
  height: 120px;
  background-image: url("../img/telecommutelogo.svg");
  background-size: 60px;
  position: relative;
  top: -10px;
  background-repeat: no-repeat;
  /*border-top: 10px solid rgb(24, 161, 170);
  border-bottom: 10px solid rgb(24, 161, 170);*/ }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 .logo {
    background-size: 100%; }
  @media screen and (min-width: 500px) {
    /* line 66, ../scss/style.scss */
    .logo {
      background-size: 100%; } }

/* line 82, ../scss/style.scss */
#header h1 {
  margin: 0 auto;
  orientation: LTR;
  text-align: left;
  font-weight: 800;
  font-size: 2rem;
  font-family: "HelveticaNeue-CondensedBold", Helvetica, sans-serif;
  letter-spacing: -.05em; }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 #header h1 {
    font-size: 5rem; }
  @media screen and (min-width: 500px) {
    /* line 82, ../scss/style.scss */
    #header h1 {
      font-size: 5rem; } }
  /* line 92, ../scss/style.scss */
  #header h1 .head1 {
    color: #5b9eab; }
  /* line 93, ../scss/style.scss */
  #header h1 .head2 {
    color: #333; }

/* line 97, ../scss/style.scss */
.header-link:hover {
  text-decoration: none !important; }

/* line 101, ../scss/style.scss */
#header {
  background-image: url("../img/WCMC-EMBLEM_web_red@2x.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 100% 50%;
  border-top: 5px solid #00a8b9;
  border-bottom: 5px solid #00a8b9; }
  /* line 11, ../scss/_mixins.scss */
  .lt-ie9 #header {
    background-size: 100px; }
  @media screen and (min-width: 500px) {
    /* line 101, ../scss/style.scss */
    #header {
      background-size: 100px; } }

/* MATCHING HEADER AND CAL STRIP */
/* line 117, ../scss/style.scss */
ul.calendar-month {
  width: 100%;
  padding: 0; }

/* line 122, ../scss/style.scss */
ul.calendar-month li {
  padding: 5px; }

/* OVER RIDING THE DAY OF THE WEEK COLORING */
/* line 128, ../scss/style.scss */
.Saturday, .Sunday {
  background-color: rgba(255, 255, 255, 0); }

/* line 133, ../scss/style.scss */
.day-of-week {
  background-color: #18a1aa;
  float: left;
  border: none;
  text-align: center; }

/* BUTTON MAYBE */
/* line 146, ../scss/style.scss */
.btn-default {
  margin: 5px;
  background-color: #cccccc;
  color: #000000; }

/* line 153, ../scss/style.scss */
.change-location {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0; }
  /* line 158, ../scss/style.scss */
  .change-location .btn {
    border-radius: 0;
    margin: 0;
    width: 100%; }

/* JUNK I CAN TAKE OUT */
/* SEAT TAKEN, FREE SHOWDOW CRAP */
/* line 169, ../scss/style.scss */
.available-seat, .taken-seat {
  text-shadow: 1px;
  max-width: 150px; }

/*.day-of-month {
	top:0;
	right:0;
	margin:5px;
	color:#cccccc;
	font-size:2em;
	font-weight:300;
	}
	
.today	.day-of-month  {
	top:0;
	right:0;
	margin:5px;
	color:#ff00cc;
	font-size:2.5em;
	font-weight:300;
	} */
/* New fake admin buttons */
/* line 194, ../scss/style.scss */
ul#fake-burronts li {
  list-style: none;
  display: inline-block;
  float: right;
  padding: 5px; }

/* line 202, ../scss/style.scss */
#fake-burronts {
  height: 35px; }

/* line 206, ../scss/style.scss */
.settings-container {
  text-align: right;
  float: right; }

/* line 212, ../scss/style.scss */
.filter {
  width: 100%;
  margin: 5px 0; }

/* line 217, ../scss/style.scss */
.seats-remaining {
  display: inline-block;
  float: right;
  text-aligh: right;
  padding-right: 20px;
  color: rgba(255, 150, 100, 0.5); }

/* line 225, ../scss/style.scss */
.week tr:nth-of-type(even) {
  background-color: rgba(150, 150, 150, 0.5); }
