<a href="#">Month view</a>
<h1>Admin Page</h1>
<div class="container">

<div id="add-user">
<table width=300px;>
	<form name="addUserForm" ng-submit="addUser(newUser)">
<tr>
	<td width="100px;"><label for="cwid">CWID: </label> </td> <td width="100px;"><input ng-required="true" type="text" name="cwid" ng-model="newUser.cwid"></td>
</tr>
<tr>	
	<td width="100px;"><label for="firstName">First name: </label> </td> <td width="100px;"><input ng-required="true" ng-model="newUser.firstName" type="text" name="firstName"></td>
</tr>
<tr>	
	<td width="100px;"><label for="lastName">Last name: </label> </td> <td width="100px;"><input ng-required ng-model="newUser.lastName" type="text" name="lastName"></td>
</tr>
<tr>	
	<td width="100px;"><label for="department">Department: </label> </td> <td width="100px;"><select ng-required name="department" ng-model="newUser.department">
	  <option value="1">Core Apps</option>
	    <option value="2">Design</option>
	    <option value="3">Web Ops</option>
	    <option value="4">Content Services</option>
	</select></td>
</tr>
<tr>	
	<td width="100px;"><label for="role">Role: </label> </td> <td width="100px;"><select ng-required ng-model="newUser.role">
		<option value="user">User</option>
		<option value="manager">Manager</option>
		<option value="admin">Admin</option>
	</select></td>
</tr>
	<!-- <div ng-repeat="location in statuses">
	<input type="radio" name="location" value="male">{{location}}
	</div> -->
<tr>
	<td width="100px;"><input type="submit" value="Add User"></td><td width="100px;">
	<a href="" ng-click="clearForm(addUserForm)">Clear</a></td>
</tr>

<!--tr>
	<td width="100px;"><div ng-repeat="day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']">{{day}}:</td> <td width="100px;"> <select ngModel="location" name="string" ngRequired="string" ngOptions="status in statusID">{{status}}</select></div></td>
</tr-->
	
	</form>
</table>

</div>

<a href="#" onclick="toggle_visibility('my-location');">Change Location</a>
<div id="my-locaiton">

<table width=300px;">
	<form name="addUserForm" ng-submit="addUser(newUser)">
<tr>
	<td width="100px;"><label for="cwid">CWID: </label> </td> <td width="100px;"><input ng-required="true" type="text" name="cwid" ng-model="newUser.cwid"></td>
</tr>

<tr>	
	<td width="100px;"><label for="monday">Monday: </label> </td> <td width="100px;"><select ng-required name="monday" ng-model="newUser.monday">
	  <option value="1">575</option>
	    <option value="2">1300</option>
	    <option value="3">OOO</option>
	    <option value="4">Remote</option>
	</select></td>
</tr>

<tr>	
	<td width="100px;"><label for="monday">Tuesday: </label> </td> <td width="100px;"><select ng-required name="monday" ng-model="newUser.tuesday">
	  <option value="1">575</option>
	    <option value="2">1300</option>
	    <option value="3">OOO</option>
	    <option value="4">Remote</option>
	</select></td>
</tr>

<tr>	
	<td width="100px;"><label for="monday">Wednesday: </label> </td> <td width="100px;"><select ng-required name="monday" ng-model="newUser.wednesday">
	  <option value="1">575</option>
	    <option value="2">1300</option>
	    <option value="3">OOO</option>
	    <option value="4">Remote</option>
	</select></td>
</tr>

<tr>	
	<td width="100px;"><label for="monday">Thursday </label> </td> <td width="100px;"><select ng-required name="monday" ng-model="newUser.thursday">
	  <option value="1">575</option>
	    <option value="2">1300</option>
	    <option value="3">OOO</option>
	    <option value="4">Remote</option>
	</select></td>
</tr>

<tr>	
	<td width="100px;"><label for="monday">Friday: </label> </td> <td width="100px;"><select ng-required name="monday" ng-model="newUser.friday">
	  <option value="1">575</option>
	    <option value="2">1300</option>
	    <option value="3">OOO</option>
	    <option value="4">Remote</option>
	</select></td>
</tr>

	
	</form>
</table>
</div>
</div>