<table ng-cloak width="200px;">
<tr>
	<td width="100px;">User Name</td> <td width="100px;"> <input ng-model="currentUser" ng-init="currentUser='alm2046'"></td>
</tr>
<tr>
	<td width="100px;">Password</td> <td width="100px;"> <input type="password"></td>
</tr>
<tr>
	<td colspan="2"> <a href="../app/#/today" ng-click="login(currentUser)" class="btn btn-primary">Login</a></td>
</tr>
</table>