<div class="today">Today's date: <a href="#/">{{today.toDateString()}}</a></div>
<div>Month View | <a href="#/{{year}}/{{month}}/week1">Week view</a></div>
<h1 class="month-name">
    <a ng-href="#/{{prevMonthYear}}/{{prevMonth}}" class="change-month ss-icon">Previous</a>
    <span class="name">{{MONTH[month]}}</span>
    <a ng-href="#/{{nextMonthYear}}/{{nextMonth}}" class="change-month ss-icon">Next</a>
</h1>
<div>
<span ng-repeat="(groupName, groupMembers) in groups"><a  class="btn btn-default" href="" ng-click="selectGroup(groupName, $event)">{{groupName}}</a></span>
<span><a class="btn btn-default" ng-click="clearFilter()" href="">All Users</a></span>
</div>
<select ui-select2 multiple ng-model="$root.selectedUsers" data-placeholder="Compare schedules" class="filter">
    <option ng-repeat="(cwid, userData) in nameMap" value="{{cwid}}">{{userData.firstName}}</option>
</select>
<ul class="calendar-month">
<li class="day-of-week weekday Sunday">Sun.</li>
<li class="day-of-week weekday">Monday</li>
<li class="day-of-week weekday">Tuesday</li>
<li class="day-of-week weekday">Wednesday</li>
<li class="day-of-week weekday">Thursday</li>
<li class="day-of-week weekday">Friday</li>
<li class="day-of-week weekday Saturday">Sat.</li>
<loading ng-hide="calendarMonth"></loading>
    <li ng-repeat="(date,dayObj) in calendarMonth" ng-click="openDayDetails(date, $event)" class="weekday {{dayObj.dayOfWeek}} {{isToday(dayObj)}}">   
        <span class="month-name">{{dayObj.Month}}</span>
        <span class="day-of-month">{{dayObj.day}}</span>
        <div class="dayContent" ng-hide="isWeekend(dayObj)">
            <div ng-repeat="loc in locations | seatsTaken:dayObj.people:selectedUsers()" ng-controller="weekDayLocCtrl" class="loc-{{loc}}-count-{{usersAtLocation}}">
            <!-- <span ng-hide="!showTaken && !props.capacity" class="location-name">{{loc}}:</span> -->
                <div ng-if="statusList[loc].capacity > 0" ng-hide="selectedUsers().length !== allUsers.length">
                    <div class="location">{{loc}}</div>
                    <div ng-if="dots" class="taken-seats">
                        <div ng-repeat="a in range(usersAtLocation)" class="taken-seat">•<wbr></div>
                    </div>
                    <div ng-if="dots" class="available-seats">
                        <div ng-repeat="a in range(statusList[loc].capacity-usersAtLocation)" class="available-seat">•<wbr></div>
                    </div>
                    <span ng-if="!dots" class="capacity-graph"><span class="capacity-meter" style="width:{{usersAtLocation/(statusList[loc].capacity)*100}}%;"><span style="display: block;width: 100%;position: absolute;">{{usersAtLocation}}</span></span></span>
                </div>

                <div ng-if="selectedUsers().length !== allUsers.length && dots" class="">
                    <div class="location">{{loc}}</div>
                    <div ng-repeat="a in range(usersAtLocation)" class="taken-seat">•</div>
                </div>
                <div ng-if="selectedUsers().length !== allUsers.length && !dots">
                    <span class="location">{{loc}}:</span>
                    <span class="capacity-graph"><span class="capacity-meter" style="width:{{usersAtLocation/(selectedUsers().length)*100}}%;"><span style="display: block;width: 100%;position: absolute;">{{usersAtLocation}}</span></span></span>
                </div>
        </div>
        <location-Changer class="change-location" user="currentUser" day="dayObj" ng-click="$root.stopProp($event)"></location-Changer>
        </div>
    </li>
</ul>
<button class="btn" ng-init="dots=true" ng-click="dots = !dots">Dots/Graph</button>