Settings
<div ng-repeat="day in weekdays">
<span class="day">{{day}}</span><select ng-change="changeDefaultLocation(userLocation)"><option model="userLocation" ng-repeat="(location, data) in statusList">{{location}}</option></select>
</div>