<div class="today">Today's date: <a href="#/{{year}}/{{month}}/week2">{{today.toDateString()}}</a></div>
<div><a href="#/">Month View</a> | Week view</div>

<h1 class="month-name">
    <a ng-href="#/{{prevMonthYear}}/{{prevMonth}}" class="change-month ss-icon">Previous</a>
    <span class="name">{{MONTH[month]}}</span>
    <a ng-href="#/{{nextMonthYear}}/{{nextMonth}}" class="change-month ss-icon">Next</a>
</h1>
<div>
<span ng-repeat="(groupName, groupMembers) in groups"><a  class="btn btn-default" href="" ng-click="selectGroup(groupName, $event)">{{groupName}}</a></span>
<span><a class="btn btn-default" ng-click="clearFilter()" href="">All Users</a></span>
</div>
<select ui-select2 multiple ng-model="$root.selectedUsers" data-placeholder="Compare schedules" class="filter">
    <option ng-repeat="(cwid, userData) in nameMap" value="{{cwid}}">{{userData.firstName}}</option>


<div><a href="#/{{year}}/{{week.firstDateOfWeek.getMonth()}}">Month view</a> | Week View </div>
<div>Month View | <a href="#/{{year}}/{{month}}/week1">Week view</a></div>
<loading ng-hide="calendarWeek"></loading>
<div>
<span ng-repeat="(groupName, groupMembers) in groups"><a  class="btn btn-default" href="" ng-click="selectGroup(groupName, $event)">{{groupName}}</a></span><span><a class="btn btn-default" ng-click="clearFilter()" href="">All Users</a></span></div>
<select ui-select2 multiple ng-model="$root.selectedUsers" data-placeholder="Compare schedules" class="filter">
    <option ng-repeat="(cwid, userData) in nameMap" value="{{cwid}}">{{userData.firstName}}</option>
</select>
<div class="week-wrapper" style="margin: 0 auto; width: 91%">
<a class="ss-directleft btn btn-default" href="#/{{year}}/{{month}}/week{{weekNum-1}}" style="float: left">Prev Week</a>
<table class="week" style="float: left" ng-init="sortPredicate=nameMap; reverse=false">
    <tr>
        <th style="width: 12.5%"><a href="" ng-click="sortPredicate = nameMap; reverse = !reverse">User</a>
        </th>
        <th ng-repeat="dayObj in weekdays()" class="{{isToday(dayObj)}}">
            <a href="" ng-click="$parent.sortPredicate = dayObj; $parent.reverse = !$parent.reverse">   {{dayObj.dayOfWeek}}<br>
            	 {{dayObj.Month}} {{dayObj.day}}
            </a>
        </th>
    </tr>
    <tr ng-repeat="userID in selectedUsers() | sortWeekView:sortPredicate:reverse">
        <td>{{nameMap[userID].firstName}}</td>
        <td ng-repeat="dayObj in weekdays()" ng-switch on="doesUserManage(userID) || userID == currentUser">
            <span ng-switch-when="true">
                <location-Changer user="userID" day="dayObj"></location-Changer>
            </span>
            <span ng-switch-when="false">
                {{getPerson(userID, dayObj).location}}
            </span>
            <span class="error" ng-switch-default>error</span>
            <!-- {{day.people[0].location}} -->
        </td>
    </tr>
</table>
<a class="ss-directright right btn btn-default" href="#/{{year}}/{{month}}/week{{weekNum+1}}">Next Week</a>
</div>
