<!doctype html>
<html lang="en" ng-app="telecommuteApp" ng-controller="rootCtrl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Team Mayo Telecommutes</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="bower_components/select2/select2.css"> 
  <link href="webfonts/ss-standard.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="outer-wrapper">
	<div id="wrapper">

		<a class="header-link" href="#/"><div id="header">
    <div class="logo"></div>
			<h1><span class="head1">ITS WEB GROUP</span><br />
			<span class="head2">LOCATION CALENDAR</span></h1>
			
			</div></a><!-- close header div -->   
<div ng-if="currentUser" class="settings-container">
  <a href="#/login" ng-click="logOut()">Log Out</a> | 
  <a access-Level="admin" href="#/admin">Admin page |</a>
  <a href="#/settings">Settings</a>
</div>

<div ng-if="currentUser" class="info" ng-cloak>
  <div class="user" ng-cloak>User:{{nameMap[currentUser].firstName}}{{nameMap[currentUser].lastName}}</div>
</div>

<!-- Current User:<select ng-model="$root.currentUser" ng-options="key as value.firstName for (key,value) in $root.nameMap"></select> -->
    <div ng-view class="clearfix"></div>

<!-- 
  <script src="js/scripts-ck.js"></script>
 -->
<script src="bower_components/jquery/jquery.min.js"></script>
<!-- <script src="bower_components/select2/select2.js"></script> -->
<script src="bower_components/angular/angular.min.js"></script>

<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/select2/select2.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/bootstrap/ui-bootstrap-0.4.0.js"></script>
<script src="bower_components/angular-ui-select2/src/select2.js"></script>

<!-- <ul>
  <li>Filter with multiple usernames to see what locations just those employees will be at</li>
  <li>Click on a date to see the specific details</li>
  <li>Click on location name on a date to change the logged in user's location (switch users at top for now)</li>
</ul> -->

	</div><!-- close wrapper -->

</div><!-- close outer-wrapper -->
</body>
</html>
