<div ng-repeat="userID in selectedUsers | sortArrayByMappedProperty:nameMap:'firstName'" ng-switch on="doesUserManage(userID)" class="daily-location">
<span class="user">{{nameMap[userID].firstName}}:</span>
<!-- <span ng-switch on="doesUserManage(userID)"> -->
	<span ng-switch-when="true">
		<location-Changer user="userID" day="dayObj"></location-Changer>
	</span>
<span ng-switch-when="false">{{getPerson(userID).location}}</span>
<span class="error" ng-switch-default>error</span>
<!-- </span> -->
</div>