<a ng-click="close()" class="button-close"></a>
<div ng-repeat="status in statuses">
{{status}}<input focus-active type="radio" ng-click="close()" ng-model="person.location" value="{{status}}">
</div>