<div class="btn-group" ng-controller="changeLocationCtrl">
	<button type="button" class="btn dropdown-toggle loc-{{dayObj.people[userID].location}}">
        {{dayObj.people[userID].location}}
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="(location,data) in statusList" ng-hide="seatsRemaining(location, dayObj) <= 0">
            <a ng-click="setLocation(userID, location, dayObj)">{{location}}<span class="seats-remaining">{{seatsRemaining(location, dayObj)}}</span></a>
        </li>
	</ul>
</div>